$ASSETS: "http://popcultureaficionado.com/public_files/assets/";
$neon_bar_height: 20px;

$neon_purple_on:  #d000d0;
$neon_purple_off: #320f42;

@mixin lights_on() {
  animation-name: flicker;
  animation-delay: ((random(400) / 100) * 1s);
  animation-duration: 6s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#marquee {
  color: black;
  width: 1024px;
  height: 3em;
  margin: $neon_bar_height auto;
  position: relative;
  font-size: 2em;
  font-family: 'Bungee Inline', cursive;
  text-align: center;
  text-transform: uppercase;
  background-size: 100% 1em;
  background-image: 
    linear-gradient(
      to right,    rgba(black, 0.4), 
      transparent, rgba(black, 0.4)
    ),
    linear-gradient(
      to right, transparent,
      transparent 12.5%, grey 12.5%, transparent 12.7%,
      transparent 25.0%, grey 25.0%, transparent 25.2%, 
      transparent 37.5%, grey 37.5%, transparent 37.7%,
      transparent 50.0%, grey 50.0%, transparent 50.2%,
      transparent 62.5%, grey 62.5%, transparent 62.7%,
      transparent 75.0%, grey 75.0%, transparent 75.2%,
      transparent 87.5%, grey 87.5%, transparent 87.6%
    ),
    linear-gradient(
      to bottom, white, 
      white 25%, grey 25%, white 27%, 
      white 75%, grey 75%, white 77%
    );
  
  .marquee_message {
    width: 100%;
    height: 3em;
    display: table;
    & > span {
      display: table-cell;
      vertical-align: middle;
    } 
  }
}

.neon_bar {
  left: 0;
  right: 0;
  height: $neon_bar_height;
  position: absolute;
  background-color: #111;
  
  &.top {top: -$neon_bar_height;}
  &.bottom {bottom: -$neon_bar_height;}
  
  &:after,
  &:before {
    height: 5px;
    content: ' ';
    display: block;
    position: absolute;
    box-shadow: 0px 0px 6px 0px black;
    border-radius: 5px;
    background-color: $neon_purple_off;
    @include lights_on();
  }
  &:after {
    top: 2px;
    left: -5px;
    right: -5px;
    bottom: 5px;
  }
  &:before {
    top: 10px;
    left: -5px;
    right: -5px;
    bottom: 5px;
  }
}

@keyframes flicker {
  35%, 37%, 39%, 41%, 100% {
    background: $neon_purple_on;
    box-shadow: 0px 0px 6px 0px $neon_purple_on;
    background-color: $neon_purple_on;
    background-image: linear-gradient(
      darken($neon_purple_on, 20%), 
      darken($neon_purple_on, 0%), 
      darken($neon_purple_on, 20%)
    );
  }
  0%, 34%, 36%, 36%, 38%, 40% {
    background: $neon_purple_off;
    box-shadow: 0px 0px 6px 0px black;
    background-color: $neon_purple_on;
    background-image: linear-gradient(
      darken($neon_purple_off, 20%), 
      darken($neon_purple_off, 0%), 
      darken($neon_purple_off, 20%)
    );
  }
} 